*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.banner {
    height: 300px;
    background-image: url('../img/image.jpg');
    background-position: center;
    background-size: cover;
}

section.form {
    padding-bottom: 150px;
}

.form-box {
    background-color: #F9F6F0;
    padding: 50px;
    display: inline-block;
}

.title {
    margin-bottom: 40px;
    text-align: center;
}

.title h1 {
    font-size: 45px;
    max-width: 350px;
}

.title i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #12dada;
}

.form-box {
    position: relative;
}

.form-box::after {
    position: absolute;
    content: '';    
    bottom: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: #12dada;

}

.input-box {
    position: relative;
    margin-bottom: 10px;
}


.input-box i {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    font-size: 16px;
    color: gray;
}

.input-box input {
    padding: 20px;
    padding-left: 40px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

.main-form button {
    padding:20px 30px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(19, 97, 214);
    color: white;
    border: 0;
    width: 100%;
    text-transform: uppercase;
}